#crypto-banner{
    display: flex;
    position: relative;
    list-style-type: none;
    align-items: center;
    justify-content: start;
    flex-flow: row;
    gap: 40px;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 0 8px var(--sub-bg-color);
    overflow: scroll;
    height: 140px;
    scroll-snap-align: center;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.crypto-banner-icon{
    width: 100px;
    min-width: 100px;
    height: 100px;
    min-height: 100px;
}

.crypto-banner-icon>button{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: transparent;
}

.crypto-banner-icon>button>img{
    position: absolute;
    top: 20px;
    height: 100px;
    aspect-ratio: 1;
    cursor: pointer;
    filter: drop-shadow(0 0 3px var(--sub-bg-color));
    transition: filter 200ms, clip-path 200ms;
}

.crypto-banner-icon>button>img:hover{
    filter: drop-shadow(0 0 10px var(--sub-bg-color));
}