.detail-title{
    font-size: 3em;
}

#crypto-details{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    box-shadow: 0 0 8px var(--sub-bg-color);
    border-radius: 25px;
    padding: 0 0 25px;
    overflow: clip;
}

#crypto-details>table{
    width: 80%;
    text-align: start;
    text-indent: 15px;
    border-collapse: collapse;
}

#crypto-details>table>tbody tr{
    font-size: 1.3em;
    border-bottom: 2px solid var(--sub-bg-color);
}

.close{
    width: 100%;
    text-align: end;
}

.close>button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px 15px 0 0;
}
