@import url('./root.css');

footer{
    background-color: var(--sub-bg-color);
}

footer>.row{
    margin: 0;
    padding: 20px;
}

.footer-menu{
    list-style-type: none;
}

.footer-menu>li>a{
    text-decoration: none;
    color: var(--text-color);    
}