.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 70px;
    padding: 10px 0;
    margin-bottom: 80px;
    border-bottom: 1px solid var(--sub-bg-color);
}

.navbar>div{
    flex-wrap: inherit;
}

.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navbar-brand{
    width: 150px;
    justify-content: center;
}

.nav-item {
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: relative;
    margin: 10px 0;
}

.nav-item>a {
    font-size: 1.5em;
    text-decoration: none;
}

.nav-item>a::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: -25px;
    width: calc(100% + 50px);
    height: 0.1em;
    background-color: var(--btc-color);
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    transition: opacity 100ms, transform 200ms;
}

.nav-item>a:hover::after{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.toggler{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    height: 50px;
}

#navbarNav{
    display: flex;
    flex-grow: 1;
    flex-basis: auto;
    justify-content: center;
}

.show{
    flex-basis: auto !important;
}

@media (max-width: 768px) {
    .show{
        flex-basis: 100% !important;
    }
}

#mobileNavTitle{
    position: relative;
    margin: 0 auto;
    display: flex;
    align-self: center;
    font-size: 1.5em;
}

#mobileNavTitle>a{
    text-decoration: none;
    text-transform: uppercase;
}

#themeChange{
    position: relative;
    width: 60px;
    height: 30px;
    display: flex;
    border-radius: 30px;
}

#ball{
    position: absolute;
    left: 0px;
    top: 0;
    height: 100%;
    aspect-ratio: 1;
    background-color: var(--btc-color);
    border-radius: 50%;
}

#themeChange>span+span{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#themeChange>span>i{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 100%;
}

#nav-brand-icon {
    color: var(--btc-color);
    position: absolute;
    transform: rotate(-25deg);
    filter: drop-shadow(0 0 2px var(--main-bg-color));
    clip-path: circle(50%);
    background-color: var(--main-bg-color);
}