.search {
    display: flex;
    justify-content: end;
}

#searchInput{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    text-indent: 5px;
    border-width: 2px;
    accent-color: var(--btc-color);
    font-size: larger;
    box-shadow: inset 0 0 5px var(--sub-bg-color);
}