.side-menu{
    position: relative;
    width: 100%;
    box-shadow: 0 0 8px var(--sub-bg-color);
    border-radius: 0 20px 20px 0;
}

#sideMenuList{
    margin: 0;
    width: 100%;
    list-style-type: none;
    padding-left: 15px;
    padding-top: 20px;
    position: sticky;
    top: 0;
}

.side-menu-item{
    padding: 10px;
}

.side-menu-item>a{
    text-decoration: none;
}

.articles-container{
    padding: 0 30px;
    text-align: justify;
}

.article-title{
    text-align: center;
    margin-bottom: 15px;
}

.article-text-container>p{
    margin-bottom: 20px;
}

.article{
    margin-bottom: 60px;
}
