@import url('./root.css');
@import url('./grid.css');
@import url('./display.css');
@import url('./navigation.css');
@import url('./banner.css');
@import url('./details.css');
@import url('./animations.css');
@import url('./theme.css');
@import url('./search.css');
@import url('./blockChain.css');
@import url('./advantages.css');
@import url('./aside.css');
@import url('./footer.css');